
<div class='container'>
    <div class="jumbotron">
        <h1>Hello yall</h1>
        <p>I'm soo guud at dis</p>
        <%= link_to 'Learn more', root_path, class: 'btn btn-primary btn-lg' %>
        
    </div>
</div>